html, body {
    height: 100%;
    margin: 0;
  }
  
  
  /* Стиль для основного контента */
  #main-page #main-content {
    text-align: center;
    margin-top: 3%;
  }
  
  /* Стиль для изображения Луны */
  #main-page .moon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transform: translateY(-20px);
    padding: 0;  /* Убираем отступы, если они есть */
  }
  
  #main-page .moon-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;  /* Обеспечиваем, чтобы изображение корректно заполнило круг */
    margin: 0;  /* Убираем лишние отступы */
  }
  
  /* Стиль для надписи */
  #main-page .birthday-message {
    font-size: 46px;
    font-family: 'Satisfy', cursive;
    color: #e7e8ee; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    margin-top: -20px; 
    margin-bottom: 30px;
  }
  
  /* Кнопки */
  #main-page .buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }
  
  #main-page .custom-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 22px;
    font-family: 'Satisfy', cursive;
    color: rgb(2, 0, 0);
    background-color: rgba(233, 233, 240, 0.8);
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); 
    transition: 0.4s ease-in-out;
  }
  
  #main-page .custom-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #f6f6fa;
    border-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    transform: scale(1.1);
  }