{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
  <!-- Подключение стилей для главной страницы -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body id="main-page" data-background="{% static 'images/background.jpg' %}">
  <div class="falling-stars"></div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Получаем путь к изображению из data-атрибута
      const backgroundUrl = document.body.getAttribute('data-background');
      // Устанавливаем фон с использованием JavaScript
      document.body.style.backgroundImage = "url('" + backgroundUrl + "')";
      document.body.style.backgroundSize = "cover";
      document.body.style.backgroundPosition = "center";
      document.body.style.backgroundRepeat = "no-repeat";
      document.body.style.backgroundAttachment = "fixed";
    });
  </script>

  <div id="main-content">
    <!-- Фотография Луны -->
    <div class="moon-container">
      <img src="{% static 'images/The_moon.png' %}" alt="Луна" class="moon-image">
    </div>

    <!-- Надпись -->
    <h1 class="birthday-message">we are together for </h1>

    <!-- Кнопки -->
    <div class="buttons-container">
      <a href="/map/" class="custom-button">Map</a>
      <a href="/letters/" class="custom-button">Letters</a>
      <a href="/poems/" class="custom-button">Poems</a>
      <a href="/questions/" class="custom-button">Questions</a
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>