{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>Register</h1>
        
        <!-- Сообщения об ошибках -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            
            <!-- Поля формы с классами для стилей -->
            <input type="text" name="username" class="input-field" placeholder="Username" required>
            <input type="email" name="email" class="input-field" placeholder="Email" required>
            <input type="password" name="password1" class="input-field" placeholder="Password" required>
            <input type="password" name="password2" class="input-field" placeholder="Confirm Password" required>
            
            <!-- Кнопка отправки формы -->
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</body>
</html>
